<div class="main-container">
        <button id="main-scraper-btn">Scrape News</button>
        <button id="delete-unsaved-news">Delete Unsaved</button>

        <div class="main-articles">
                {{!-- <h2>Articles</h2> --}}
                {{#each article}}
                <div class="articles">

                        <h3>{{title}}</h3>
                        <p>{{body}}</p>
                        <a href={{link}} target="_blank">{{link}}</a>
                        <div class="buttons">
                                <button id="save" class="save-article" data-id={{this._id}} type="submit">Save Article</button>
                                <a href="#add-note" rel="modal:open"><button>Add Note</button></a>
                        </div>
                </div>

                {{/each}}
        </div>
        <div class="notes">
                <div id="add-note" class="modal">
                        <p>Thanks for clicking. That felt good.</p>
                        <a href="#" rel="modal:close">Close</a>
                </div>
        </div>
</div>