<div class="main-container">
        <div class="main-articles">
                {{!-- <h2>Articles</h2> --}}
                {{#each article}}
                <div class="articles">

                        <h3>{{title}}</h3>
                        <p>{{body}}</p>
                        <a href={{link}} target="_blank">{{link}}</a>
                        <div class="buttons">
                                <a href="#add-note" rel="modal:open" data-toggle="modal"
                                        data-target="#add-note{{this._id}}" data-id={{this._id}}><button>Add
                                                Note</button></a>
                        </div>
                </div>
                {{/each}}
        </div>
</div>
{{#each article}}
<div id="add-note{{this_id}}" class="modal">
        <div class="modal-header">
                <h4>{{this.title}}</h4>
        </div>
        <div class="modal-body">
                {{#if this.notes}}
                {{#each this.notes}}
                <div class="note-body">
                        <p class="previousNotes"> {{this.text}}</p>
                        {{!-- <button type="button" class="delete-note-btn" data-note-id={{this._id}}
                                data-article-id={{this.article}}>
                        </button> --}}
                </div>
                {{/each}}
                {{else}}
                <h4>Add a comment!</h4>
                {{/if}}
        </div>
        <div>
                <textarea id="note-Body{{this._id}}" placeholder="New Note"></textarea>
        </div>
        <div class="modal-footer">
                <button type="button" class="save-note" data-id={{this._id}}>Save Note</button>
        </div>
        {{/each}}
</div>