<div class="main-container">
        <div class="main-articles">
                {{!-- <h2>Articles</h2> --}}
                {{#each article}}
                <div class="articles">

                        <h3>{{title}}</h3>
                        <p>{{body}}</p>
                        <a href={{link}} target="_blank">{{link}}</a>
                        <div class="buttons">
                                <button id="save" class="save-article" data-id={{this.id}} type="submit">Save Article</button>
                                <button id="note" class="note-article" type="submit">Add A Note</button>
                        </div>
                </div>

                {{/each}}
        </div>
        <div class="notes"></div>
</div>